*
{
    margin:absolute;
    padding:absolute;
}
body {
   
    font-family:"Montserrat",sans-serif;
    text-align:center;
    width:45%;
    height:700px;
    margin:0px auto;
    background-color:aqua;
    background-image:url("https://tse4.mm.bing.net/th?id=OIP.F-rBMW2zg-MKE0XLb5TURAAAAA&pid=Api&P=0&w=257&h=163");
    background-size:cover;
 }
.box h2
    {
       font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-weight: bolder;
      font-size:36px;
      color:black;
    }

 button
{
    justify-content: space-around;
     border:10%;
    color:black;
    font-size:20px;
    font-weight: bolder;
    box-shadow: azure;
    border-radius: 20px;
    cursor:pointer;
}
ul{
    margin-right:30px;
    align-items: center;
    justify-content:space-around;
    font-weight: bolder;
}
p{
    font-weight: bolder;
    margin-left:550px;
}